/*****GENERAL******/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.h100{
    height: 100%;
}

.colorWhite{
    color: white;
}

/****** FLEX *****/

.flex{
    display: flex;
}

.flexWrap{
    flex-wrap: wrap;
}

.justifyCenter{
    justify-content: center;
}

.justifySB{
    justify-content: space-between;
}

/******* PADDING ********/

.padding1rem{
    padding: 1rem;
}

/* ****** XS - MOBILE FIRST ******/ 

/* GENERIC UI */


/* HEADER */


/* MAIN CONTENT */

main{
    height: calc(100vh - 90px);
}

#sideBar{
    width: 50px;
    background-color: black;
}

#scatolaMain{
    width: calc(100% - 50px);
}

#upgradeButtonBox{
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: #080b1277;
}

#mainContent{
    width: 100%;
    overflow: auto;
    padding-top: 90px;
}

#mainContent > nav > ul{
    list-style-type: none;
    justify-content: space-evenly;
    width: 100%;
}

#mainContent > nav li{
    width: calc(100% / 4);
    text-align: center;
    padding: 0.5rem;
}

#mainContent > nav a{
   text-decoration: none;
   font-size: 9px;
   font-weight: bolder;
}



/* FOOTER */

footer{
    background-color: #282828;
    height: 90px;
}



/****** SM - RESPONSIVE: SMARTPHONE ******/
@media screen and (min-width: 480px) {

    /* GENERIC UI */

    /* HEADER */

    /* MAIN CONTENT */
    
    #sideBar{
        width: 230px;
    }

    #mainContent > nav li{
        width: calc(100% / 3);
    }    
}


/****** MD - RESPONSIVE: TABLET ******/
@media screen and (min-width: 768px) {

    /* GENERIC UI */

    /* HEADER */

    /* MAIN CONTENT */
    #mainContent > nav li{
        width: calc(100% / 5);
    }    
}


/****** LG - RESPONSIVE: DESKTOP ******/
@media screen and (min-width: 992px) {

    /* GENERIC UI */

    /* HEADER */

    /* MAIN CONTENT */
    #mainContent > nav li{
        width: calc(100% / 6);
    }  
    
    #mainContent > nav > ul{
        width: 70%;
    }    

}


/****** XL - RESPONSIVE: LARGE DESKTOP ******/
@media screen and (min-width: 1201px) {
    
    /* GENERIC UI */

    /* HEADER */

    /* MAIN CONTENT */
}
