/*****GENERAL******/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.h100{
    height: 100%;
}

.colorWhite{
    color: white;
}

/**** WIDTH *****/

.w15{
    width: 15%;
}

.w100{
    width: 100%;
}

/****** FLEX *****/

.flex{
    display: flex;
}

.flexCol{
    flex-direction: column;
}

.flexWrap{
    flex-wrap: wrap;
}

.alignCenter{
    align-items: center;
}

.justifyCenter{
    justify-content: center;
}

.justifySB{
    justify-content: space-between;
}

/******* PADDING ********/

.padding1rem{
    padding: 1rem;
}

.paddingB05rem{
    padding-bottom: 0.5rem;
}

/* ****** XS - MOBILE FIRST ******/ 

/* GENERIC UI */


/* HEADER */


/* MAIN CONTENT */

main{
    height: calc(100vh - 90px);
}

/********* SIDEBAR XS ********/

#sideBar{
    width: 50px;
    background-color: black;
}




#boxProfile{
    background-color: #808080;
    border-radius: 50%;
    height: 35%;
}

#boxProfile > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/****** SIDEBAR OVER XS ********/

#sideBarOverXS > img{
    width: 80%;
    padding-bottom: 1rem;
}
#sideBarOverXS div{
    padding-bottom: 10px;
}

.sideBarTitles{
    padding-left: 10px;
}

#sideBar > div{
    padding: 15px;
}

/********MAIN CONTENT ******/
#scatolaMain{
    width: calc(100% - 50px);
}

#upgradeButtonBox{
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: #080b1277;
}

#mainContent{
    width: 100%;
    overflow: auto;
    padding-top: 90px;
    background-color: #141922;
}

#mainContent > nav > ul{
    list-style-type: none;
    justify-content: space-evenly;
    width: 100%;
}

#mainContent > nav li{
    width: calc(100% / 4);
    text-align: center;
    padding: 0.5rem;
}

#mainContent > nav a{
   text-decoration: none;
   font-size: 8px;
   font-weight: 900;
   color: #4d5157;
}

#sectionRecentlyPlayed h2{
    margin-bottom: 1rem;
}

#sectionRecentlyPlayed h3{
    text-align: center;
    font-size: 1rem;
}

#sectionRecentlyPlayed{
    padding: 1rem 1rem;
}

.boxCards{
    gap: 1rem;
}

.boxCards p{
    color: #4d5157;
    font-weight: 900;
    font-size: 11px;
    text-align: center;
}

.card{
    width: calc(50% - 1rem)
}



/* FOOTER */

footer{
    background-color: #282828;
    height: 90px;
}



/****** SM - RESPONSIVE: SMARTPHONE ******/
@media screen and (min-width: 480px) {

    /* GENERIC UI */

    /* HEADER */

    /* MAIN CONTENT */
    
    #sideBar{
        width: 230px;
    }

    #mainContent > nav li{
        width: calc(100% / 3);
    } 
    
    #sideBarXS {
        display: none;
    }

    
   
}


/****** MD - RESPONSIVE: TABLET ******/
@media screen and (min-width: 768px) {

    /* GENERIC UI */

    /* HEADER */

    /* MAIN CONTENT */
    #mainContent > nav li{
        width: calc(100% / 5);
    }  
    
    .card{
        width: calc(100% / 4 - 1rem)
    }
}


/****** LG - RESPONSIVE: DESKTOP ******/
@media screen and (min-width: 992px) {

    /* GENERIC UI */

    /* HEADER */

    /* MAIN CONTENT */
    #mainContent > nav li{
        width: calc(100% / 6);
    }  
    
    #mainContent > nav > ul{
        width: 70%;
    }  
    
    .card{
        width: calc(100% / 6 - 1rem)
    }

}


/****** XL - RESPONSIVE: LARGE DESKTOP ******/
@media screen and (min-width: 1201px) {
    
    /* GENERIC UI */

    /* HEADER */

    /* MAIN CONTENT */
}
